@media screen and (max-width: 576px) {
	.fixed_top, div.bottom_menu{
		width:100%;
	}
	.vote-label{
		width:450px;
	}
	
}
@media screen and (min-width:577px) and (max-width: 768px) {
	.fixed_top, div.bottom_menu{
		width:577px;
	}
	.vote-label{
		width:500px;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.fixed_top, div.bottom_menu{
		width:769px;
	}
	.vote-label{
		width:682px;
	}
	
}
@media screen and (min-width:993px) and (max-width: 1200px) {
	.fixed_top, div.bottom_menu{
		width:993px;
	}
	.vote-label{
		width:922px;
	}
	
}
@media screen and (min-width: 1200px) {
	.fixed_top, div.bottom_menu{
		width:1130px;
	}
	.vote-label{
		width:1110px;
	}
	
}
/* Add a black background color to the top navigation */
.topnav {
	position: relative;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, div.topnav-right a:hover {
	background-color: #FFF;
	color: #9e9e9e;
}

/* Add a color to the active/current link */
.topnav a.active .tapnav-right a:active{
	color: #9e9e9e;
}

/* Centered section inside the top navigation */
.topnav-centered a.active {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Russo One', sans-serif;
	text-decoration:none;
	font-size: 20px;
}
.topnav-centered-form a{
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	font-size: 20px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	float: right;
	padding-top:0.5rem;
}
.topnav-right a:hover{
	background-color:#FFF;
}
.topnav-right a i{
	font-size:2rem;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 990px) {
	.topnav a.icon {
		float: left;
		display: block;
		font-size: 30px;
		background:none;
	}
	.topnav .headerLink {
		display: none;
	}
}
/* ((((((((((((((((((((((sidebar-start))))))))))))))))))*/
/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0); /* Black fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.2s;
	/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px;
	/* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
	overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	body {
		overflow: hidden;
	}
}
/* ((((((((((((((((((((((sidebar-end))))))))))))))))))*/
/* ((((((((((((((((((((((carousel-start))))))))))))))))))*/
/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 400px;
}

.carousel-indicators {
	position: relative;
	top: 370px;
	display: hidden;
}
/* ((((((((((((((((((((((carousel-end))))))))))))))))))*/
.login {
	width: 100%;
	margin: 100px auto;
	text-align: center;
}

.login_btn {
	margin: 0 auto;
}
/* Style buttons */
.btn_write {
	background-color: white; /* Blue background */
	border: none; /* Remove borders */
	color: bfbfbf; /* bfbfbf text */
	padding: 6px 8px; /* Some padding */
	font-size: 1rem; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	margin: auto 10px;
	border-radius: 5%;
	float: right;
}

/* Darker background on mouse-over */
.btn_write:hover {
	background-color: #ccff90;
}

.title-btw {
	margin: 10px 10px;
	position: absolute;
	font-size: 1rem; /* Set a font size */
}

.match-head {
	height: 30px;
	width: 100%;
	margin-top:10px;
	margin-bottom: 15px;
}

.end {
	clear: both;
}

.match-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.match-item{
	font-weight:bold;
	padding-right:1rem;
	padding-left:1rem;
}

.match {
	padding: 0 auto;
}
.match-info{
	margin: 0 auto;
	width:99%;
}
.team-info{
	padding: 0 auto;
	text-align: center;
	color:#7a7a7a;
}

.vote-rating { width:90%;
margin:5px auto;

 }
.vote-rating, .voted{
	display:inline-block; 
	height:35px;
	background-color:#f2f2f2;
	vertical-align: middle;
	border-radius:0.3rem;
}
.vote-rating .voted {
	background-color:#bfbfbf;
}
.vote-label{
	padding:5px;
	margin-right:10px;
	display:inline-flex;
}
.vote-rating .person{
	color:#bfbfbf;
	font-size:25px;
}
.total_wrapper{
	margin-top: 1rem;
	vertical-align: top;
}
.total, .unit{
	position:relative;
	bottom:5px;
}
.total_person{
	color:#e0dede;
	font-size:10px;
}
div.row{
	position:relative;
}
div.uni-em{
	display:block;
}
div.half_col{
	display:inline-block;
	width:49%;
	padding-left:0.8rem;
}
i.uni-view{
	text-align:center;
	padding-top:0.9rem;
	margin:0 auto;
	font-size:3rem;
	width:4.5rem;
	height:4.5rem;
	border-radius:50%
}



.sign{
	display:none;
	margin-left:5px;
}
.person{
	position:absolute;
	top:10px;
	right:10%;
}
.vote_num{
	color:#7f7f7f;
	font-size:inherit;
	position:absolute;
	top:10px;
	right:8%;
}

.btn-group {
	margin: 2px auto;
}
.radio{
	background-color: #f1f8e9 !important;
	color: #948B82 !important;
	border: none !important;
}
.radio.focus, .radio:focus,.radio.active{
	background-color: #aed581 !important;
	color:#343a40 !important;
	box-shadow:1px 1px transparent!important;
}

/*(((((autocomplete))))))))*/
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 68%;
	left: -2%;
	right: 0;
	width: 88%;
	margin: 0px auto;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
/* .club_loc{
	padding-left: 30px;
	font-size: 14px;
} */

/*when hovering an item:*/
.autocomplete-items div:hover {
	
	
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}
/*form*/
* {
	box-sizing: border-box;
}

/* Style the input container */
.input-container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* Style the form icons */
.icon, .fa-won-sign {
	padding-top: 0.5rem;
	font-size:1.5rem;
	background: white;
	color: #bfbfbf;
	min-width: 50px;
	text-align: center;
}
#uniform_div{
	border-right: 1px solid rgba(0,0,0,0.1);
}

/* Style the input fields */
.input-field {
	border:none;
	background-color:white;
	width: 75%;
	padding: 10px;
}


.time{
	color: #948B82;
}


/* Set a style for the submit button */
.btn {
	background-color: #fafafa;
	color: bfbfbf;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.btn:hover {
	opacity: 1;
}
.detail{
	background-color:#fcfcfc;
	height:150px;
	resize:none;
	border:none;
	width:100%;
}
.detail::placeholder{
	color:#cecece;
}
.detail:focus {
	outline:none;
}
input[type=text]:focus, select:focus{
	outline: none;
}
/* modal */
/* The Modal (background) */
.modals {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index:98; /* Sit on top */
	padding-top: 70px; /* Location of the box */
	padding-bottom:50px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modals-content {
	background-color: #fefefe;
	position:relative;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	opacity:0.95;
	width: 80%;
}
#img_preview_content{
	width:60%;
	max-width:404px;
	min-width:330px;
}
.img-item{
	display:block;
	border-radius:30%;
	margin:1rem auto 1rem auto;
}

/* The Close Button */
.close_mod {
	color: white;
	display:block;
	z-index:99;
	padding-bottom:1rem;
	text-align:center;
	vertical-align:top;
	background-color:#a5d6a7;
	width:2.7rem;
	height:2.7rem;
	border-radius:50%;
	position:absolute;
	top:-1.3rem;
	right:-1.3rem;
	font-size: 1.6rem;
	font-weight: bold;
	cursor:pointer;
}


.modals-content input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	border: 1px solid grey;
	background: #f1f1f1;
}
.modals-content button {
	float: left;
	width: 20%;
	padding: 10px;
	background: white;
	color: bfbfbf;
	font-size: 1rem;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}
#search_modal{
	padding-right:0px;
	padding-left:0px;
}
/*kakao map*/
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);font-size:12px;border-radius: 10px;}
.bg_bfbfbf {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList {padding-inline-start:0;}
#placesList li {list-style: none; }
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.block {
  display: block;
  width:100%;
  border: 1px solid #d4d4d4;
  border-radius:0.2rem;
  margin-top:5px;
  padding: 4px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color:#FFFFFF;
  text-align: center;
}
.row .block-btn{
	padding-right:8px;
	padding-left:8px;
}
.from-to{
	padding-top: 1rem;
}
.fixed_top{
  overflow: hidden;
  background-color: #FFFFFF;
  position:fixed;
  display:block;
  left:1%;
  right:1%;
  z-index:50;
  height:4rem;
  margin:0 auto 2% auto;
  font-size:18px;
  border-bottom: 1px solid #d4d4d4;
  padding-top:5px;
  padding-bottom:5px;
}
#cancel, #chevron_left{
	position:absolute;
	left:1%;
	top:20%;
	margin:2px;
	font-size:30px;
	
}
a:link { color: #a0a0a0; text-decoration: none;}
a:visited { color: #a0a0a0; text-decoration: none;}
a:hover, div.col a:hover { color:#a0a0a0;text-decoration: none; }
.fixed_top a{
	cursor:pointer;
}

#submit{
	position:absolute;
	right:1%;
	top:20%;
	margin:2px;
	border: none;
	background:transparent;
}
#write_body{
	padding-top: 75px;
}
#hedaer_hr{
	display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden; 
    border-style: inset;
    border-width: 1px;	
}
#btn-group{
	padding-right: 0px;
	padding-left: 0px;
}
/* 토글 스위치 */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.msg{
	margin-left:60px;
	font-size:12px;
}
a.detail:hover{
	color:#7f7f7f;
	text-decoration:none;
}
a.detail{
	color:#7f7f7f;
}
.hr{
	margin-bottom:0.2rem;
}
.container{
	padding-right:8px !important;
	padding-left:8px !important;
}
.wrapper{
	text-align:center;
	margin:10px auto;
	color:#7f7f7f;
}
.manner_rating, .perform_rating{
	margin:0;
	padding:0;
	color:#d6d6d6;
	cursor:pointer;
	font-size: 2rem;
}
.rating{
	margin-right:0.4rem;
}
.rating_title{
	color:black;
	font-weight:bold;
	font-size:1.5rem;	
}
/* The toast (background) */
.submit_toast {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 67; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
/* toast Content */
.submit_toast_content {
  position: fixed;
  text-align:center;
  border-radius:6px;
  cursor:pointer;
  bottom: 70%;
  left:20%;
  background-color: black;
  opacity:0.8;
  color:white;
  width: 60%;
  height:8rem;
  padding:1rem;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.toast_msg{
	height:1rem;
	font-size:1rem;
}
#team-content{
	left:25%;
	width:50%;
	height:8rem;
	padding-right:0.5rem;
	opacity:0.95;
	}
#team-content,#team-content i,#team-content select{
	background-color:#FFF;
	color:#7c7c7c;
}
.btn-modal{
	display:inline;
	width:49%;
	height:2rem;
	border:none;
	border-radius:0.2rem;
}
#close, button.first-btn{
	background-color:#686767;
	color:#e0e0e0;
	opacity:0.8;
}
btn-wrapper{
	margin:0 auto;
}
#team_confirm, button.second-btn{
	background-color:#000;
	color:#FFF;
	opacity:0.8;
}



@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.tab-btn{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin:0 auto;
  color:#878585;
  width:80%
}
.tab-btn:focus, tab-btn:active{
	outline:none;
}

.vote_wrapper{
	padding-top:3rem;
	text-align:center;
}
.bottom_menu{
	text-align:center;
	position:fixed;
	bottom:0;
	background-color:white;
	border-top:1px solid #b2b2b2;
	left:0.1%;
  	right:0.1%;
  	z-index:66;
  	margin:0 auto;
}
div.col .bottom-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;  /* Preferred icon size */
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-bottom:-0.4rem;
  padding:0;
  color:inherit;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.bottom-icon-txt{
	padding:0;
	font-size:0.7rem;
	color:inherit;
}
a.menu-item:visited{
	color:#7c7c7c;
}
a.menu-item:link{
	color:#7c7c7c;
}
a.menu-item:hover{
	color:#7c7c7c;
}
a.menu-item:active{
	color:#7c7c7c;
}

.detail_wrapper{
	background-color:#e5e5e5;
	padding-top:10px;
}
.menu-item{
	color:#7c7c7c;
}
.avatar {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.club_name, .uniform{
	float:left;
	position:relative;
}
div.club_main, div.club_sub{
	margin-top:0.2rem;
	margin-bottom:0.2rem;
}
img.emblem{
	float:left;
	width: 2rem;
 	height: 2.5rem;
 	border-radius: 30%;
 	margin-right:1rem;
}
.list{
	background-color:white;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
div.detail-item{
	width:50%;
	padding:8px;
	padding-left:20px;
	min-height:3em;
}
.voted_detail{
	display:none;
}
.tab-active{
	border-bottom: 2px solid black;
	color:black;
}
.blank_div{
	display:block;
	height:80px;
}
ul.ul-list{
	background-color:#e5e5e5;
	padding-inline-start: 0px;
	width:100%;
	padding:1px 0;
}
li.li-list{
	margin:0.3rem auto;
	list-style: none;
	background-color:white;
	display:block;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	padding:0.2rem 0 0.2rem 1rem;
}
.rating_count{
	display:block;
}
#map{
	margin:0 auto;
}
.color{
	width:1.1rem;height:1.1rem;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	top:0.2rem;
	left:3.2rem;
	
}
#myTeam_msg{
	display:block;
	height:1.2rem;
	text-align:left;
	padding-left:2rem;
	margin-bottom:0.2rem;
	font-size:0.7rem;
	
}
.select:hover,.select:focus,select:active{
	background-color:#f2f2f2;
	cursor:pointer;
}


/* chip-checkbox */
/* The container */
.input-label{
	padding-left:1rem;
	display:block;
	color:#827C75;
	margin-top:1rem;
}
.centered-padding{
	padding:0 3%;
}
.chip {
  max-width:94px;
  display: inline-block;
  position: relative;
  padding-left:1.5rem;
  height:2rem;
  width:17%;
  margin:0.5rem 0.2rem;
  cursor: pointer;
  line-height: 50px;
  border-radius: 25px;
  font-size: 0.8rem;
  background-color: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button.chip-btn{
	height:2rem;
	border-radius: 25px;
 	font-size: 0.8rem;
	margin:1rem auto 0 auto;
	border:none;
	text-align:center;
	width:6rem;
	padding:0.1rem;
}
.file-label{
	display:block;
	margin:0 auto;
	height:2rem;
	width:100%;
	padding:0;
	cursor:pointer;
}
#emblem-btn{
	display:block;
	background-color: #f1f1f1;
	height:2rem;
	width:100%;
	border-radius: 25px;
 	font-size: 0.8rem;
	margin:1rem auto 0 auto;
	border:none;
	text-align:center;
	width:6rem;
	padding-top:0.3rem;
}
.chip-txt{
	position:absolute;
	bottom:-0.5rem;
	left:2rem;
}
#img-pre{
	width:4.5rem;
	height:4.5rem;
	border-radius:30%;
	margin:0 auto;
}
/* Hide the browser's default checkbox */
.chip input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius:50%;
  top: 0.2rem;
  left: 0.2rem;
  height: 25px;
  width: 25px;
}

/* On mouse-over, add a grey background color */
.chip:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chip input:checked ~ .checkmark {
  background-color: #a5d6a7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chip input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chip .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* color options */
.color_opt{
	text-align:center;
	padding-top:0.4rem;
	display:inline-block;
	margin:0.1rem;
	width:3.2rem;
	height:3.2rem;
	font-size:2rem;
	cursor:pointer;
}
.row h5{
	
}

