@media screen and (max-width: 576px) {
	.fixed_top, div.bottom_menu, .sticky{
		width:100%;
	}
	.carousel-inner img{
		height:10rem;
	} 
}
@media screen and (min-width:577px) and (max-width: 768px) {
	.fixed_top, div.bottom_menu, stick{
		width:577px;
	}
	.carousel-inner img{
		height:12rem;
	} 
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.fixed_top, div.bottom_menu, .sticky{
		width:769px;
	}
	.carousel-inner img{
		height:14rem;
	} 
	html{
		font-size:17px;
	}
}
@media screen and (min-width:993px) and (max-width: 1200px) {
	.fixed_top, div.bottom_menu, .sticky{
		width:993px;
	}
	.carousel-inner img{
		height:14rem;
	} 
	
}
@media screen and (min-width: 1200px) {
	.fixed_top, div.bottom_menu, .sticky{
		width:1130px;
	}
	.carousel-inner img{
		height:16rem;
	} 
	html{
		font-size:19px;
	}
	
}
html{
	font-size:15px;
	overflow-x:hidden;
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* Add a black background color to the top navigation */

.header-logo{
	padding:0 0.4rem 0.2rem 0.2rem;
	font-family: 'Encode Sans Semi Condensed';
	font-style:oblique;
	font-size:1.5rem;
	font-weight:900;
	display:inline-block;
	margin-bottom:-1rem;
	margin-top:-0.5rem;
	background-color:#00643c;
	color:#fff;
}
.header-wrapper{
	display:inline-block;
	margin-right:1rem;
	padding: 0.1rem 0.2rem 0 0.3rem;
	font-size:1.3rem;
	font-weight:bold;
}
div.row{
	margin-right:0;
	margin-left:0;
}
/* Style the links inside the navigation bar */

.fixed_top .topnav-right{
    position:absolute;
    right:1rem;
    top:1.5rem;
    font-size: 2rem;
}
.fixed_top .topnav-right-main{
    position:absolute;
    right:1rem;
    top:-0.3rem;
    font-size: 2rem;
}
.topnav-right a{
	position:absolute;
	top:-1rem;
	right:0;
	
}
.fixed_top .topnav-right a:hover{
	background-color:#fff;
	color:#b5b5b5;
}
.fixed_top a:hover{
	background-color:#fff;
	color:#b5b5b5;
}
.fixed_top a{
	cursor:pointer;
	height:0;
	display:inline-block;
}



/* Add a color to the active/current link */

.cursor, li.cursor{
	cursor:pointer;
}

/* Centered section inside the top navigation */
.fixed_top a.active {
	float: none;
	position:absolute;
	right:50%;
	top:0;
	text-decoration:none;
	font-weight:bold;
	font-size: 1.2rem;
	text-align:center;
	
}


/* Right-aligned section inside the top navigation */
.topnav-right a:hover{
	background-color:#FFF;
}
.topnav-right a i{
	font-size:2rem;
}




/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	body {
		overflow: hidden;
	}
}
/* ((((((((((((((((((((((sidebar-end))))))))))))))))))*/
/* ((((((((((((((((((((((carousel-start))))))))))))))))))*/
/* Make the image fully responsive */
.carousel-inner{
	position:relative;
	width:100%;
}
.carousel-inner img.slide-img {
	width: 100%;
	
}

ul.carousel-indicators {
	top: 88%;
	left:55%;
}
/* ((((((((((((((((((((((carousel-end))))))))))))))))))*/
.login {
	width: 100%;
	margin: 6rem auto;
	text-align: center;
}

.login_btn {
	margin: 0 auto;
	cursor:pointer;
}
/* Style buttons */
.btn_write {
	background-color: #6d6d6d;
	color:white;
	border: none; /* Remove borders */
	padding: 0.3rem; /* Some padding */
	margin: 0.3rem 0.5rem;
	border-radius: 0.3rem;
	float: right;
	position:relative;
}
.btn_write .first-child{
	position:absolute;
	top:0.2rem;
}

/* Darker background on mouse-over */
.btn_write:hover {
	background-color: #c4c4c4;
}
.margin-left{
	margin-left:0.5rem;
}
.title-btw {
	margin: 0.5rem;
	display:inline-block;
	font-size: 1.1rem; /* Set a font size */
	font-weight:bold;
}
.filter{
	position:absolute;
	left:0.5rem;
}
.filter-wrapper{
	height:1.5rem;
}

.underline{
	text-decoration:underline;
}
.loader{
	display: block;
	margin: 50% auto;
}
.end {
	clear: both;
}

.match-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.match-item{
	font-weight:bold;
	padding-right:1rem;
}
.modal-wrapper{
	margin:0.8rem 0;
}
#team-sel-modal, #sel-modal{
	padding-top:40%;
}
div.team-info.cursor{
	padding-right: 0;
	padding-left:0;
	text-align: center;
	color:#7a7a7a;
}

.main-row{
	position:relative;
	display:flex;
	margin:0 auto;
	flex-wrap:wrap;
}


.vote-rating {
	margin:0.2rem auto;
	width:100%;
	color:#555;
 }
.vote-rating, .voted{
	display:inline-block; 
	height:2.5rem;
	background-color:#f2f2f2;
	border-radius:0.2rem;
	
}
.vote-rating .voted {
	background-color:#bfbfbf;
	
}
.vote-label{
	position:absolute;
	left:0.7rem;
	top:0.7rem;
	display:inline-block;
}

.total_wrapper{
	margin-top: 1rem;
	vertical-align: top;
	position:relative;
}
.total, .unit{
	position:relative;
	bottom:5px;
}
.total_person{
	color:#e0dede;
	font-size:10px;
}
.share{
	position:absolute;
	right:1rem;
}


div.row{
	position:relative;
}
div.uni-em{
	display:block;
}
div.half_col{
	display:inline-block;
	width:49%;
	padding-left:0.2rem;
}

.color-view i.uni-view{
	text-align:center;
	color:inherit;
	padding-top:0.9rem;
	margin:0 auto;
	font-size:3rem;
	width:4.5rem;
	height:4.5rem;
	border-radius:50%
}



.sign{
	display:none;
	margin-left:5px;
}
/* .person{
	position:absolute;
	top:0.7rem;
	right:10%;
} */
.vote-wrapper{
	position:absolute;
	top:0.7rem;
	right:0.7rem;
	display:flex;
	
}


.btn-group {
	margin: 2px auto;
}
.radio{
	background-color: #f1f8e9 !important;
	color: #948B82 !important;
	border: none !important;
}
.radio.focus, .radio:focus,.radio.active{
	background-color: #00643c !important;
	color:#343a40 !important;
	box-shadow:1px 1px transparent!important;
}

/*(((((autocomplete))))))))*/
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 68%;
	left: -2%;
	right: 0;
	width: 88%;
	margin: 0px auto;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	
	
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}
/*form*/
* {
	box-sizing: border-box;
}

/* Style the input container */
.input-container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* Style the form icons */
.icon, .fa-won-sign {
	padding-top: 0.5rem;
	font-size:1.5rem;
	background: white;
	color: #bfbfbf;
	min-width: 50px;
	text-align: center;
}
#uniform_div{
	border-right: 1px solid rgba(0,0,0,0.1);
}

/* Style the input fields */
.input-field {
	border:none;
	background-color:white;
	width: 90%;
	padding: 10px;
}


.time{
	color: #948B82;
	font-size:0.7rem;
}


/* Set a style for the submit button */
.btn {
	background-color: #fafafa;
	color: bfbfbf;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.btn:hover {
	opacity: 1;
}
.detail{
	background-color:#fcfcfc;
	height:150px;
	resize:none;
	border:none;
	width:100%;
}
.detail::placeholder{
	color:#cecece;
}
.detail:focus {
	outline:none;
}
.margin{
	margin:1rem 0;
}

input[type=text]:focus, select:focus{
	outline: none;
}
.filter-txt{
	text-decoration: underline;
	color:#00643c;
}
.radius{
	border-radius:0.3rem;
}

/* modal */
/* The Modal (background) */
.modals {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index:98; /* Sit on top */
	padding-top:10%;
	padding-bottom:2%;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modals-content {
	background-color: #fefefe;
	position:relative;
	margin: 0 1rem;
	padding: 0.3rem;
	opacity:0.95;
	border-radius:0.5rem;
	width: 90%;
}
body.body, body.body btn{
    font-family: Noto Sans KR,sans-serif;
    word-break:keep-all;
    word-wrap:break-word;
}
.certify-modals{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index:90; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	filter:unset;
}
.bgBlur:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index:-1;
  filter: blur(10px); 
  -webkit-filter: blur(10px); 
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  filter:url(#blur);
}


.certify-modal-content{
	text-align:center;
	background-color: transparent;
	position:fixed;
	width: 80%;
	animation: slideFromTop 0.3s;
	left:10%;
	top:10rem;
}
@keyframes slideFromTop{
	from{
		top:-1rem;
	}
	to{
		top:10rem;
	}
}
.confirm-modals{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index:90; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.confirm-modal-content{
	text-align:center;
	background-color: transparent;
	position:fixed;
	opacity:0.95;
	width: 80%;
	animation: slideFromBot 0.3s;
	left:10%;
	bottom:3rem;
}
.sub-content{
	margin-bottom:1rem;
	padding: 1rem 0.2rem;
	background-color:#FFF;
	border-radius:1rem;
}
.pos-btn:focus, .neg-btn:focus, .first-btn:focus, .second-btn:focus{
	outline:none;
	opacity:0.6;
}
.pos-btn{
	border:none;
	width:100%;
	background-color:transparent;
	font-size:1.2rem;
	font-weight:bold;
	color:#007bff;
}
.neg-btn{
	border:none;
	width:100%;
	background-color:transparent;
	font-size:1.2rem;
	font-weight:bold;
	color:#000;
}
.status{
	display:block;
	border-radius:0.5rem;
	color:#FFF;
	padding:0.1rem 0.2rem;
	position:absolute;
	right:2rem;
	text-align:center;
}
.cancel{
	display:block;
	border-radius:0.2rem;
	color:#FFF;
	padding:0.1rem 0.2rem;
	position:absolute;
	left:0;
	text-align:center;
}
#manageMatch .status{
	right:0.3rem;
}
.main-row span.more{
	position:absolute;
	right:0.5rem;
	text-align:center;
	display:block;
	font-size:2rem;
}
.last{
	display:inline-block;
	border-radius:0.2rem;	
	margin-right:1rem;
}
.soccer{
	background-color:#00643c;
	color:#fff;
	padding:0 0.5rem;
}
.futsal{
	background-color:#A4d3a6;
	color:#fff;
	padding:0 0.5rem;
	
}
.margin-btm{
	margin-bottom:0.5rem;
}
.bubble{
	position:absolute;
	right:-1.7rem;
	top:-0.2rem;
	font-size:1.5rem;
}
.margin-top, span.margin-top, li .margin-top{
	margin-top:0.5rem;
}
.neutral{background-color:#878787;}
.positive{background-color:#00643c;}
.positive-color{color:#00643c;}
.negative{background-color:#000;}
.negative-color{background-color:#000;}
.full{
	width:95%;
	margin: 0 auto;
}

@keyframes slideFromBot{
	from{
		bottom:-10rem;
	}
	to{
		bottom:3rem;
	}
}
#reason{
	border:1px solid #ccc;
	border-radius:0.5rem;
	background-color:#fff;
	font-size:0.8rem;
	width:95%;
}

#img_preview_content{
	width:60%;
	max-width:404px;
	min-width:330px;
}
.img-item{
	display:block;
	border-radius:30%;
	margin:1rem auto 1rem auto;
}

/* The Close Button */
.close_mod {
	color: white;
	display:block;
	z-index:99;
	padding-bottom:1rem;
	text-align:center;
	background-color:#00643c;
	width:2.7rem;
	height:2.7rem;
	border-radius:50%;
	position:absolute;
	top:-1.3rem;
	right:-1.3rem;
	font-size: 1.6rem;
	font-weight: bold;
	cursor:pointer;
}


.modals-content input[type=text] {
	padding: 0.8rem;
	float: left;
	width: 80%;
	border: 1px solid grey;
	background: #f1f1f1;
}
.modals-content button {
	float: left;
	width: 20%;
	padding: 10px;
	background: white;
	color: #bfbfbf;
	font-size: 1rem;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}
/*kakao map*/
.map_wrap, .map_wrap * {margin:0;padding:0;font-size:0.9rem;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {margin:0.5rem 0.5rem 0  0.5rem;padding:0.2rem;overflow-y:auto;background:rgba(255, 255, 255, 0.7);font-size:0.9rem;border-radius: 10px;}
.bg_bfbfbf {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList {padding-inline-start:0;}
#placesList li {list-style: none; }
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 3rem;}
#placesList .item span {display: block;}
#placesList .item h6, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:0.2rem 0 0.2rem 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin: 0.5rem 0 0 0.5rem;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:0 auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.block ,.block.modal-block{
  display: block;
  width:100%;
  height:2.6rem;
  margin:0.2rem auto;
  color:#FFFFFF;
  border-radius:0.5rem;
  padding: 0.2rem 1.2rem;
  font-size: 1.1rem;
  font-weight:bold;
  cursor: pointer;
  background-color:#555;
  text-align: center;
  border-color:#FFF;
  border-style:solid;
}
#submit_delete{
	background-color:#dc3545;
	color:#fff;
	border-radius:0.4rem;
}
#submit_delete:focus{
	outline:none;
}
.seemore{
  display: block;
  width:100%;
  height:2.6rem;
  margin:0.2rem;
  color:#000;
  border-radius:0.5rem;
  padding: 4px 28px;
  font-size: 16px;
  font-weight:bold;
  cursor: pointer;
  
  background-color:#eee;
  text-align: center;
  border-color:#FFF;
  border-style:solid;
}
.seemore:focus{
	outline: none;
}
.seemore.margin-top:hover{
	background-color:#ccc;
}
.block-btn{
	padding-right:8px;
	padding-left:8px;
	width:25rem;
}
.from-to{
	padding-top: 1rem;
	margin:0 0.5rem;
}
.fixed_top{
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #FFFFFF;
  position:fixed;
  white-space: nowrap;
  z-index:50;
  height:3rem;
  left: 0.1%;
  right: 0.1%;
  margin:0 auto;
  font-size:18px;
  border-bottom: 1px solid #d4d4d4;
  padding-top:5px;
  padding-bottom:5px;

}
.topnav-centered{

	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	display:flex;
	flex-direction:row;
	justify-content:center;

}
.fixed_top .topnav-centered span{
	margin:0.5rem auto;
	position:absolute;
	top:0.1rem;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	font-weight:bold;
}
#cancel, #chevron_left{
	position:absolute;
	left:1%;
	top:0.3rem;
	margin:2px;
	font-size:30px;
	
}
a:link { color: #a0a0a0; text-decoration: none;}
a:visited { color: #a0a0a0; text-decoration: none;}
a:hover, div.col a:hover { color:#a0a0a0;text-decoration: none; }


#submit{
	position:absolute;
	right:1rem;
	top:0.5rem;
	margin:2px;
	border: none;
	background:transparent;
	font-weight:bold;
}
.fixed_top span.more{
	position:absolute;
	right:1rem;
	top:0.2rem;
	margin:2px;
	border: none;
	background:transparent;
	font-weight:bold;
}
#write_body{
	padding-top: 75px;
}
#hedaer_hr{
	display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden; 
    border-style: inset;
    border-width: 1px;	
}
#btn-group{
	padding-right: 0px;
	padding-left: 0px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.msg{
	margin-left:4rem;
	font-size:0.8rem;
}
.no-margin{
	margin:0;
}

div.col{
	padding-left:0px;
	padding-right:0px;
}
.count-msg{
	position:absolute;
	padding-top:0.2rem;	
	text-align:center;
	right:-0.5rem;
	bottom:1rem;
	font-size:0.7rem;
	font-weight:bold;
	width:1.2rem;
	height:1.2rem;
	background-color:#DC3545;
	color:#FFF;
	border-radius:50%;
}
.count-msg-page{
	position:absolute;
	text-align:center;
	right:-0.2rem;
	top:0.4rem;
	font-size:0.7rem;
	font-weight:bold;
	width:1.2rem;
	height:1.2rem;
	background-color:#DC3545;
	color:#FFF;
	border-radius:50%;
}
#write .down{
	position:absolute;
	top:0rem;
	right:0rem;
}
.align-center{
	text-align:center;
}
.msg-status{
	position: absolute;
	right:2rem;
	font-size:0.8rem;
	color:#007bff;
}
a.detail:hover{
	color:#7f7f7f;
	text-decoration:none;
}
a.detail{
	color:#7f7f7f;
}
.hr{
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}
.sub-h6{
	font-size:0.9rem;
	color:#757575;
}

.container{
	padding-right:0px !important;
	padding-left:0px !important;
}
.wrapper{
	text-align:center;
	margin:10px auto;
	color:#7f7f7f;
}
.manner_rating, .perform_rating{
	margin:0;
	padding:0;
	color:#d6d6d6;
	cursor:pointer;
	font-size: 2rem;
}
.rating{
	margin-right:0.4rem;
}
.rating_title{
	color:black;
	font-weight:bold;
	font-size:1.5rem;	
}
.margin-right{
	margin-right:0.3rem;
}

/* The toast (background) */
.submit_toast {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 98; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.loader_toast {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 98; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255, 0.4);
}
/* toast Content */
.submit_toast_content {
  position: fixed;
  text-align:center;
  border-radius:6px;
  cursor:pointer;
  bottom: 50%;
  left:20%;
  background-color: black;
  opacity:0.8;
  color:white;
  width: 60%;
  padding:1rem 0 0 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.toast_msg{
	height:1rem;
	font-size:1rem;
}
.alert-btn{
	border:none;
	border-top:1px solid #fff;
	background-color:transparent;
	margin-top:2rem;
	color:#fff;
	padding:0.8rem;
	width:100%;
}
.border-right{
	border-right: 1px solid #fff;
}
.border-btm{
	border-bottom:1px solid #ccc;
}
.yellow{
	color:#ffc107;
}

#team-content{
	left:25%;
	width:50%;
	height:8rem;
	padding-right:0.5rem;
	opacity:0.95;
	}
#team-content,#team-content i,#team-content select{
	background-color:#FFF;
	color:#7c7c7c;
}
.disp-bl{
	display:block;
}
.align-center{
	text-align:center;
}
.disp-inbl{
	display:inline-block;
}
.btn-modal{
	display:inline;
	border:none;
	border-radius:0.2rem;
}
#close, button.first-btn{
	background-color:#686767;
	color:#e0e0e0;
	opacity:0.8;
	border:none;
	width:95%;
	height:2rem;
	margin:0.5rem 0 0.5rem 0;
}
btn-wrapper{
	margin:0 auto;
}
#team_confirm, button.second-btn{
	background-color:#000;
	color:#FFF;
	opacity:0.8;
	border:none;
	width:95%;
	height:2rem;
	margin:0.5rem 0 0.5rem 0;
}



@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.tab-row{
	display:flex;
}
.tab-btn{
  background-color: inherit;
  border-bottom:3px solid #E5E5E5;
  border-left: none;
  border-right: none;
  border-top:none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 17px;
  margin:0 auto;
  color:#878585;
  width:100%
}
.tab-col{
	display:inline;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding:0;
	margin:0;
}
.border-top{
	border-top:1px solid #d1d1d1;
}
.tab_detail h6{
	text-align:center;
	font-weight: bold;
	padding:0.5rem 0;
	margin-bottom:0; 
	
}
.middle-title{
	text-align:center;
	font-weight: bold;
	margin:0.5rem 0;
}
h6.ages{
	display:inline-block;
	text-align:left;
}
.half_col .admin{
	font-size:1rem;
	display:none;
	position:absolute;
	top:1.8rem;
	left:1.5rem;
}
.half_col .visible{
	display:inline-block;
	background-color:#fff;
	border-radius:50%;
}
.center{
	display:block;
	margin:1rem 1rem;
}

.mod-h6{
	color:#9E9E9E;
	font-weight:bold;
}
.span-link{
	color:#00643c;
	display:block;
	text-align:center;
	font-weight:bold;
}
.reply-btn{
	width:100%;
	border:1px solid #9E9E9E;
	border-radius:0.2rem;
	padding:0.5rem;
	text-align:left;
	margin-top:0.5rem;
	background-color:transparent;
}
#answer-wrapper{
	background-color:#f7f7f7;
}
.nickname{
	color:#00643c;
	margin-right:1rem;
}
.icon-margin{
	position:relative;
	top:0.3rem;
}
.float-right{
	position:absolute;
	right:0rem;
}
.float-left{
	float:left;
}
.span-link-reverse{
	background-color:#00643c;
	color:#FFF;
	border-radius:0.3rem;
	padding:0 0.3rem;
	display:block;
	text-align:center;
	font-weight:bold;
}
#counter{
	margin-top:0.4rem;
}
.register-btn{
	border:none;
	background-color:#00643c;
	color:#FFF;
	margin-left:0.2rem;
	width:4rem;
	height:2rem;
}
.f-r{
	float:right;
}
.set-team-opt{
	cursor:pointer;
}
.align-center{
	margin:0 auto;
}
	
.small-font, .main-row span.small-font,button.small-font, a.active.small-font{
	font-size:0.9rem;
}
a.active.small-font{
	margin-top:0.3rem;
}
.xs-font{
	font-size:0.6rem;
}

.m-font, .main-row span.m-font{
	font-size:1.2rem;
}
.l-font, .main-row .l-font{
	font-size:2rem;
}
.xl-font, .fixed_top span.xl-font, .filter .xl-font{
	font-size:2.5rem;
}
.filter-icon{
	position:relative;
	top:0.5rem;
}

.tab-btn:focus, .tab-btn:active{
	outline:none;
}
.red{
	color:#dc3545;
}
.relative{
	position:relative;
}
.vote_wrapper{
	padding-top:3rem;
	text-align:center;
}
.sel-team{
	position:relative;
	display:inline-block;
	margin:0 1.5rem 0rem 1rem;
	font-size:1.2rem;
	font-weight:bold;
	cursor:pointer;
}
.drop-down{
	position:absolute;
	top:0.1rem;
	display:inline-block;
}
#topIcon{
	position:relative;
	top:0.2rem;
}
.bottom_menu{
	text-align:center;
	position:fixed;
	bottom:0;
	background-color:white;
	border-top:1px solid #b2b2b2;
	left:0.1%;
  	right:0.1%;
  	z-index:66;
  	margin:0 auto;
}
.myPage{
	margin-top:0.5rem;
	display:block;
}
div.tab-row.bottom-padding{
	padding:0.1rem 0;
}
div.col .more-icon{
  margin-top:0.5rem;
  font-size: 1.7rem;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color:inherit;
  position:relative;
}
div.col .bottom-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;  /* Preferred icon size */
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-bottom:-0.4rem;
  color:inherit;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.bottom-icon-txt{
	padding:0;
	font-size:0.7rem;
	color:inherit;
}
a.menu-item:visited{
	color:#7c7c7c;
}
a.menu-item:link{
	color:#7c7c7c;
}
a.menu-item:hover{
	color:#7c7c7c;
}
a.menu-item:active{
	color:#7c7c7c;
}

.detail_wrapper{
	background-color:#e5e5e5;
	padding-top:10px;
}
.menu-item{
	color:#7c7c7c;
}
.avatar {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 40%;
  float:left;
  margin-right:0.5rem;
}
.one-col .person_add{
	font-size:3rem;
}
.kakaolink{
	border-radius:50%;
	width:2rem;
	height:2rem;
	position:absolute;
	right:0rem;
	top:0.5rem;
}
.kakaolink-share{
	border-radius:50%;
	width:2rem;
	height:2rem;
}
/* .right{
	position:absolute;
	right:3rem;
} */
div.one-col{
	position:relative;
}
.align-center{
	text-align:center;
}
.col img.blocked{
	width:10rem;
	height:10rem;
	float:none;
	margin:0 auto 1rem auto;
	text-align:center;
}
.text-by-icon{
	position:absolute;
	top:1rem;
	left:5rem;
}

.half_col i{
	position:relative;
	font-size:1.6rem;
	color:#00643c;
	float:right;
	margin-left:0.5rem;
}
.i-subtitle{
	position:absolute;
	font-size:0.6rem;
	left:0.1rem;
	top:-1rem;
}
.reverse{
	-webkit-flex-direction:row-revers;
	flex-direction:row-revers;
}

.fa-users-cog, .fa-cog{
	cursor:pointer;
}
.club_name, .uniform{
	float:left;
	position:relative;
}
div.club_main, div.club_sub{
	margin-top:0.2rem;
	margin-bottom:0.2rem;
}
img.emblem{
	float:left;
	width: 2rem;
 	height: 2.5rem;
 	border-radius: 30%;
 	margin-right:1rem;
}
.list{
	background-color:white;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
div.detail-item{
	padding:8px;
	min-height:3em;
}
.tab_detail{
	display:none;	
}
.tab-active{
	border-bottom: 3px solid #00643c;
	color:black;
}
.sticky{
	position:sticky;
	background-color:#FFF;
	z-index:95;
	top:3rem;
}
.sticky+tab_detail{
	padding-top: 160px;
}
.blank_div{
	display:block;
	height:3rem;
}
.li-list .collapsible{
	color:#00643c;
	position:absolute;
	right:1rem;
	font-size:2rem;
	cursor:pointer;
	transition: 0.4s;
}
 .collapsible:hover{
	color:#799b7a;
}
.collapsible-content{
	max-height: 0;
	transition: max-height 0.2s ease-out;
	margin:2rem 0 0 0;
	padding:0;
	overflow: hidden;
}
ul.ul-list{
	padding-inline-start: 0px;
	width:100%;
	border-bottom:10px solid #efefef;
	margin-bottom:0;
}
ul.non-border-btm{
	border-bottom:none;
}
li.li-list{
	margin:0 auto ;
	list-style: none;
	display:block;
	border-bottom:1px solid #eee;
	padding:0.5rem 0.5rem;
	position:relative;
}
.mid-banner{
	padding:10px 0;
	background-color:#eee;
	margin:0 auto;
	width:100vw;
}
.match-info-wrapper{
	padding:0.4rem 0.2rem;
	background-color:#f8f8f8;
	border-radius:0.5rem;
}
.rating_count{
	display:block;
}
#map{
	margin:0 auto;
}
.color{
	width:1.1rem;height:1.1rem;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	top:0.2rem;
	left:3.2rem;
	
}
#myTeam_msg{
	display:block;
	height:1.2rem;
	text-align:left;
	padding-left:2rem;
	margin-bottom:0.2rem;
	font-size:0.7rem;
	
}
.select:hover,.select:focus,select:active{
	background-color:#f2f2f2;
	cursor:pointer;
}
div.bigger{
	width:80%;
}
div.smaller{
	width:15%;
	float:right;
	padding:0.7rem;
}
div.x-smaller{
	width:10%;
	min-width:2.8rem;
	margin-right:0.5rem;
}
div.x-bigger{
	width:84%;
}
.sync{
	position:relative;
	border:none;
	border-radius:0.5rem;
	height:2.5rem;
	font-weight:bold;
	font-size:0.8rem;
	background-color:#FFEB00;
	color:#3C1E1E;
	margin:0.5rem 1rem;
	float:right;
	padding-right:2.5rem;
}
.sync-icon{
	position:absolute;
	right:0.5rem;
	top:0.3rem;
}
.sync-text{
	font-size:0.9rem;
}
button.chip-btn{
	height:2rem;
	border-radius: 25px;
 	font-size: 0.8rem;
	margin:1rem auto 0 auto;
	border:none;
	text-align:center;
	width:6rem;
	padding:0.1rem;
}
.file-label{
	display:block;
	margin:0 auto;
	height:2rem;
	width:100%;
	padding:0;
	cursor:pointer;
}
#emblem-btn{
	display:block;
	background-color: #f1f1f1;
	height:2rem;
	width:100%;
	border-radius: 25px;
 	font-size: 0.8rem;
	margin:1rem auto 0 auto;
	border:none;
	text-align:center;
	width:6rem;
	padding-top:0.3rem;
}
.chip-txt{
	position:absolute;
	top:-0.8rem;
	left:2.2rem;
}
#img-pre{
	width:4.5rem;
	height:4.5rem;
	border-radius:30%;
	margin:0 auto;
}
/* chip-checkbox */
.input-label{
	padding-left:1rem;
	display:block;
	color:#827C75;
	margin-top:1rem;
}
.centered-padding{
	padding:0 2%;
}
.v-padding{
	padding:0.4rem 0;
}
.fixed_top a,.fixed_top a:visited{
	color:#000;
}
.row .empty{
	color:#ccc;
	font-size:3rem;
	display:block;
	margin:0.5rem auto;
	
}

.empty-wrapper{
	width:100%;
	display: flex;
  	align-items: center;
  	flex-direction: column;
  	justify-content: center;
}
.centered{
	margin:0 auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.flex-start{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.space-around{
	flex-direction:row;
	justify-content:space-around;
}
.border{
	border:1px solid #ccc;
	border-radius:0.5rem;
}
.padding-left{
	padding-left:1rem;
}
.padding-right{
	padding-right:0.5rem;
}


.chip{
  display: inline-block;
  position: relative;
  padding-left:1.5rem;
  height:2rem;
  width:6rem;
  margin:0.5rem 0.2rem;
  cursor: pointer;
  line-height: 50px;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.small-chip{
  max-width:48px;
  display: inline-block;
  position: relative;
  text-align:center;
  height:1.3rem;
  padding:0.1rem;
  width:17%;
  cursor: pointer;
  border-radius: 25px;
  margin:0.3rem;
 font-weight:bold;	
  font-size: 0.7rem;
  background-color: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.chip.wider{
	width:8rem;
}
label.chip.m-wider{
	width:7rem;
}
.gray{
	color:#666;
}
.bold{
	font-weight:bold;
}


.custom {
	float:left;
	margin: 0.5rem 1rem;
	position: relative;
	height: 30px;
 	width: 30px;
 	background-color: #f1f1f1;
 	cursor: pointer;
 	border-radius:50%;
}
.vert{margin: 1.1rem auto;}

/* Hide the browser's default checkbox */
.chip input, .custom input[type=radio],.custom input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.agreement{
	margin-top:0.7rem;
	
}
.agreement-content{
	padding:3rem 0.5rem;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius:50%;
  top: 0.2rem;
  left: 0.2rem;
  height: 24px;
  width: 24px;
}

/* On mouse-over, add a grey background color */
.chip:hover input ~ .checkmark,.custom:hover input ~ .checkmark {
  	background-color: #ccc;
}
.chip input ~ .checkmark,.custom input ~ .checkmark {
  	background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.chip input:checked ~ .checkmark,.custom input:checked ~ .checkmark {
  	background-color: #00643c;
}
 .chip input:disabled:checked ~ .checkmark,.custom input:disabled:checked ~ .checkmark,
  .chip:hover input:disabled:checked ~ .checkmark,.custom:hover input:disabled:checked ~ .checkmark{
	background-color: #ccc;
}
 .chip:hover input:disabled ~ .checkmark,.custom:hover input:disabled ~ .checkmark {
	background-color:transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chip input:checked ~ .checkmark:after,.custom input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chip .checkmark:after,.custom .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* color options */
.color_opt{
	text-align:center;
	padding-top:0.4rem;
	display:inline-block;
	margin:0.1rem;
	width:3.2rem;
	height:3.2rem;
	font-size:2rem;
	cursor:pointer;
}
/* select box custom */
.selectbox {
    position: relative;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius:0.3rem;
}

/* 媛��긽 �꽑�깮�옄瑜� �솢�슜 �솕�궡�몴 ��泥� */
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}

.selectbox label {
    position: absolute;
    top: 1px;  /* �쐞移섏젙�젹 */
    left: 5px;  /* �쐞移섏젙�젹 */
    padding: .2rem .3rem;  /* select�쓽 �뿬諛� �겕湲� 留뚰겮 */
    color: #999;
    z-index: -1;  /* IE8�뿉�꽌 label�씠 �쐞移섑븳 怨녹씠 �겢由��릺吏� �븡�뒗 寃� �빐寃� */
}

.selectbox select {
    width: 100%;
    height: auto;  /* �넂�씠 珥덇린�솕 */
    line-height: normal;  /* line-height 珥덇린�솕 */
    font-family: inherit;  /* �룿�듃 �긽�냽 */
    padding: .2rem .3rem;  /* �뿬諛깃낵 �넂�씠 寃곗젙 */
    border: 0;
    opacity: 0;  /* �닲湲곌린 */
    filter:alpha(opacity=0);  /* IE8 �닲湲곌린 */
    -webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
    -moz-appearance: none;
    appearance: none;
}
.selectbox {

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.selectbox.focus {
    border-color: #00643c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(165, 214, 167, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

