<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="kr.spring.match.dao.MatchMapper">
	<insert id="insertMatch" parameterType="matchVO">
		insert into match
			(match_num,id,type,home,away,address,match_date,start_time,end_time,match_detail)
		values
			(match_seq.nextval,#{id},#{type},#{home},#{away},#{address},#{match_date},#{start_time},#{end_time},
		<if test="match_detail != ''">
			#{match_detail})
		</if>
		<if test="match_detail == ''">
			'')
		</if>
	</insert>
	<select id="selectAverageRating" parameterType="matchVO" resultType="matchVO">
		select a.club_num,a.club_name,b.perform,b.manner from (select club_num, club_name from club where club_num=#{home} or club_num=#{away} ) a 
	    left outer join
	    (select club_num, avg(perform) as perform, avg(manner) as manner
			 from club_rating group by club_num) b
             on a.club_num=b.club_num
	</select>
</mapper>
